.App {
  text-align: center;
}

/* .App-cube {
  box-shadow: 0 20px 2px -1px gray;
} */

.App-header {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rotate-img {
    -webkit-transition: all 11s;
       -moz-transition: all 11s;
        -ms-transition: all 11s;
         -o-transition: all 11s;
            transition: all 11s;
}
body:hover .rotate-img {
    -webkit-transform: rotate(360deg) scale(40.5); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
       -moz-transform: rotate(360deg) scale(40.55); /* Fx 3.5-15 */
        -ms-transform: rotate(360deg) scale(40.55); /* IE 9 */
         -o-transform: rotate(360deg) scale(40.55); /* Op 40.5-12 */
            transform: rotate(360deg) scale(40.55); /* Fx 16+, IE 10+ */
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}
